body {
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to top, #3498db, #9b59b6);
}

h1 {
    font-weight: bolder;
    color: #ffffff; 
}

a {
    padding: 10px 20px;
    margin-top: 20px;
    background: linear-gradient(to bottom, #3498db, #9b59b6); 
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background: linear-gradient(to bottom, #ffffff, #000000);
    border-radius: 5px;
}