body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to top, #3498db, #9b59b6); /* Degradê de azul para roxo */
}

#caixa {
    background: linear-gradient(to bottom, #3498db, #9b59b6); /* Degradê de azul para roxo */
    border: 2px solid #2980b9; /* Borda com degradê */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 400px; /* Largura aumentada */
    height: 500px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fonte diferente */
    position: relative;
}

#bem-vindo {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3498db;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

h3 {
    color: #333;
}

.rotul {
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background: linear-gradient(to bottom, #4caf50, #45a049); /* Degradê verde */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background: linear-gradient(to bottom, #45a049, #4caf50); /* Mudança de degradê no hover */
}