body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to top, #3498db, #9b59b6); /* Degradê de azul para roxo */
}

#divboxL {
    background: linear-gradient(to bottom, #3498db, #9b59b6); /* Degradê de azul para roxo */
    padding: 30px;
    width: 400px; /* Largura aumentada */
    height: 400px;
    text-align: center;
    position: relative;
}

#bem-vindo {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3498db;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
.label {
    color: #ffffff;
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

h3 {
    color: #ffffff;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

button {
    background: linear-gradient(to bottom, #00fffb, #ea00ff); /* Degradê verde */
    color: #fff;
    padding: 10px;
    cursor: pointer
}

button:hover {
    background: linear-gradient(to bottom, #ffffff, #000000); /* Mudança de degradê no hover */
}