body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #3498db, #9b59b6); /* Degradê de azul para roxo */
    color: #fff; /* Cor do texto */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

a {
    width: 200px; /* Largura desejada */
    height: 50px; /* Altura desejada */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

a:hover {
    background-color: #2980b9;
    transform: scale(1.1); /* Zoom ao passar o mouse */
}

a:nth-child(2) {
    background-color: #3c3fe7;
}

a:nth-child(2):hover {
    background-color: #a1a3fa;
}