body {
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to bottom, #3498db, #9b59b6);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    color: #ffffff;
}

#WEBCHAT_form_ {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background: linear-gradient(to top, #3498db, #9b59b6);
}

label {
    margin-top: 10px;
    color: #555;
}

select, textarea{
    margin-top: 5px;
    padding: 8px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
}

button {
    background: linear-gradient(to bottom, #00fffb, #ea00ff); /* Degradê verde */
    color: #fff;
    padding: 10px;
    cursor: pointer
}

button:hover {
    background: linear-gradient(to bottom, #ffffff, #000000); /* Mudança de degradê no hover */
}

#WEBCHAT {
    max-width: 600px;
    margin: 20px auto;
    background-color: #b8b8b8;
    border: 1px solid #ddd;
    
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.message {
    margin-bottom: 10px;
}

.timestamp {
    color: #888;
    margin-left: 10px;
}